@font-face {
  font-family: TrebuchetMS;
  src: url(../fonts/TrebuchetMS.ttf); }

@font-face {
  font-family: SegoeWPLight;
  src: url(../fonts/SegoeWPLight.ttf); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #848484;
  width: 100%;
  height: 100%;
  font-family: SegoeWPLight, sans-serif;
  background: #fff; }

li, ul, a, p {
  margin: 0;
  padding: 0;
  color: #848484;
  text-decoration: none; }

header, section, footer {
  width: 100%;
  max-width: 1500px;
  height: auto;
  margin: 0 auto;
  padding-left: 239px;
  padding-right: 243px; }

header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 32px; }
  header .logo-wr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
    header .logo-wr .logo {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      header .logo-wr .logo p {
        font-size: 52px;
        text-transform: capitalize;
        font-family: TrebuchetMS; }
      header .logo-wr .logo p:nth-child(1) {
        color: #595959; }
    header .logo-wr .green-cr {
      background: #6dd025;
      width: 30px;
      height: 30px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      margin-right: 2px;
      position: relative;
      top: 5px;
      left: -3px; }
    header .logo-wr p:nth-child(3) {
      color: #313131; }
  header .header-nav {
    text-align: center;
    display: inline-block;
    margin-top: 48px; }
    header .header-nav a:first-child {
      background-color: #373737;
      color: #fff; }
    header .header-nav a {
      color: #696161;
      padding: 4px 20px;
      text-transform: capitalize;
      font-size: 24px;
      margin-left: 37px;
      -webkit-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
      header .header-nav a:hover {
        background-color: #ee1551;
        color: #fff; }

.line {
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  margin: 0 auto; }

.banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  height: 540px;
  padding-left: 239px; }
  .banner-description {
    padding-left: 20px;
    padding-top: 162px;
    padding-bottom: 180px; }
    .banner-description p {
      color: #696161; }
    .banner-description p:nth-child(1) {
      font-size: 61px; }
    .banner-description p:nth-child(2) {
      font-size: 47px;
      line-height: 47px;
      text-transform: capitalize;
      margin-top: 5px;
      margin-bottom: 30px; }
    .banner-description .btn-review {
      width: 204px;
      padding-top: 11px;
      padding-bottom: 11px;
      padding-left: 13px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      background-color: #373737;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      .banner-description .btn-review .icon {
        background-position: center;
        -webkit-background-size: cover;
                background-size: cover;
        background-repeat: no-repeat; }
      .banner-description .btn-review .icon {
        width: 35px;
        height: 18px;
        background-image: url(../img/review-icon.png);
        margin-right: 10px; }
      .banner-description .btn-review:hover {
        background-color: #ee1551; }
      .banner-description .btn-review span {
        font-size: 22px;
        color: #fff;
        line-height: 22px; }
  .banner-imgg {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    min-width: 780px;
    height: auto;
    margin-top: 110px;
    margin-bottom: 60px;
    margin-right: 105px;
    margin-left: 75px;
    background-image: url(../img/ipad2.png);
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat; }

section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  section article {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 676px; }
    section article .featured-post {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 30px; }
      section article .featured-post-imgg {
        min-width: 305px;
        min-height: 240px;
        background: #d8d8d8;
        margin-right: 27px;
        background-image: url(../img/ipad-imac.png);
        background-position: center;
        -webkit-background-size: cover;
                background-size: cover;
        background-repeat: no-repeat; }
      section article .featured-post-desc {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        section article .featured-post-desc p:nth-child(1) {
          font-size: 30px;
          margin-bottom: 4px; }
        section article .featured-post-desc p:nth-child(2) {
          padding-right: 20px; }
      section article .featured-post .btns {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        right: 0;
        bottom: 0; }
        section article .featured-post .btns .left {
          width: 31px;
          height: 39px;
          background: #7c7d7c;
          border-right: 1px solid #848584;
          background-image: url(../img/arrow-left.png);
          background-position: center;
          background-repeat: no-repeat;
          -webkit-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out; }
          section article .featured-post .btns .left:hover {
            background-color: #f5aec2;
            border: none; }
        section article .featured-post .btns .right {
          width: 30px;
          height: 39px;
          background: #989998;
          border-right: 1px solid #9fa09f;
          background-image: url(../img/arrow-right.png);
          background-position: center;
          background-repeat: no-repeat;
          -webkit-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out; }
          section article .featured-post .btns .right:hover {
            background-color: #f7bfcf;
            border: none; }
    section article .posts {
      -webkit-columns: 3;
         -moz-columns: 3;
              columns: 3; }
      section article .posts .post {
        width: 214px;
        height: auto;
        margin-right: 18px;
        margin-bottom: 46px; }
        section article .posts .post p:nth-child(1) {
          font-size: 26px;
          color: #696161;
          line-height: 30px;
          margin-bottom: 5px; }
        section article .posts .post .inf {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          margin-bottom: 15px; }
          section article .posts .post .inf .date {
            margin-right: 10px; }
  section aside {
    min-width: 320px;
    margin-left: 23px; }
    section aside .add1 {
      width: 100%;
      height: 250px;
      border: 1px solid #dedbdb;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative;
      margin-bottom: 32px; }
      section aside .add1 p:nth-child(1) {
        font-size: 21px;
        line-height: 21px;
        margin-top: 15px; }
      section aside .add1 p:nth-child(2) {
        font-size: 39px;
        line-height: 39px;
        color: #b8dc58;
        font-weight: bolder; }
      section aside .add1 .img {
        width: 317px;
        height: 162px;
        background-image: url(../img/add1.png);
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0; }
    section aside .add2 .a {
      width: 317px;
      height: 287px;
      background-image: url(../img/add2.png);
      background-repeat: no-repeat;
      margin-bottom: 24px; }
    section aside .subscribe {
      width: 100%;
      height: auto;
      background-color: #373737;
      border-bottom: 7px solid #bb4465;
      padding-top: 24px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 20px; }
      section aside .subscribe p {
        color: #fff; }
      section aside .subscribe p:nth-child(1) {
        font-size: 27px;
        text-transform: uppercase;
        text-align: center;
        line-height: 27px;
        margin-bottom: 15px; }
      section aside .subscribe p:nth-child(2) {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 13px; }
      section aside .subscribe input {
        width: 100%;
        border: none;
        line-height: 0px;
        padding: 8px 9px; }
      section aside .subscribe input:nth-child(3) {
        margin-bottom: 12px; }
      section aside .subscribe input:nth-child(4) {
        margin-bottom: 12px; }
      section aside .subscribe .btn-sign {
        color: #fff;
        background-color: #bb4465;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
        padding: 10px 0;
        width: 180px;
        text-align: center;
        margin: 0 auto;
        word-spacing: 2px;
        -webkit-border-radius: 6px;
                border-radius: 6px;
        -webkit-transition: all .3 ease-in-out;
        -o-transition: all .3 ease-in-out;
        transition: all .3 ease-in-out; }
        section aside .subscribe .btn-sign:hover {
          background-color: #58d1dc; }

footer {
  height: 86px;
  background: #393a39;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 29px;
  padding-right: 205px; }
  footer p {
    color: #fff;
    line-height: 16px;
    text-transform: capitalize;
    width: auto; }
  footer .social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    margin-left: 304px; }
    footer .social .item {
      width: 29px;
      height: 29px;
      margin-left: 16px;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
      footer .social .item:nth-child(1) {
        margin-left: 0;
        background-image: url(../img/fb-icon.png); }
        footer .social .item:nth-child(1):hover {
          background-image: url(../img/fb-icon-hover.png); }
      footer .social .item:nth-child(2) {
        background-image: url(../img/tw-icon.png); }
        footer .social .item:nth-child(2):hover {
          background-image: url(../img/tw-icon-hover.png); }
      footer .social .item:nth-child(3) {
        background-image: url(../img/yout-icon.png); }
        footer .social .item:nth-child(3):hover {
          background-image: url(../img/yout-icon-hover.png); }

@media only screen and (max-width: 1350px) {
  header, .banner, section {
    width: 100%;
    padding: 0; }
  header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 30px; }
    header .header-nav a {
      font-size: 20px;
      margin-left: 10px; }
  .banner-imgg {
    max-width: 580px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 55px;
    margin-left: 25px; }
  section {
    padding-right: 243px;
    padding-left: 20px; }
    section article .posts .post {
      width: 180px; } }

@media only screen and (max-width: 1054px) {
  .banner-description p:nth-child(1) {
    font-size: 41px; }
  .banner-description p:nth-child(2) {
    font-size: 27px;
    line-height: 27px; }
  .banner-imgg {
    min-width: 480px;
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 35px;
    margin-left: 35px; }
  section article {
    min-width: 496px; }
    section article .featured-post {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-bottom: 40px; }
      section article .featured-post-imgg {
        min-width: 205px;
        max-height: 140px; }
    section article .posts {
      -webkit-columns: 1;
         -moz-columns: 1;
              columns: 1;
      -webkit-column-width: auto;
         -moz-column-width: auto;
              column-width: auto; }
      section article .posts .post {
        width: 100%; }
  footer p {
    min-width: 250px; } }

@media only screen and (max-width: 900px) {
  header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 30px; }
    header .header-nav a {
      font-size: 16px;
      margin-left: 8px;
      padding: 2px 10px; }
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    height: auto; }
    .banner-description {
      padding: 0;
      margin-bottom: 30px; }
    .banner-imgg {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 0;
          -ms-flex: 0 0 0px;
              flex: 0 0 0;
      margin: 0;
      padding: 0;
      width: 100%;
      min-height: 400px; }
  section {
    padding: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    section article {
      min-width: 320px; }
    section aside {
      min-width: 245px; }
    section .add2 .a {
      width: 260px;
      -webkit-background-size: cover;
              background-size: cover; }
  footer {
    padding: 0;
    margin: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    footer p {
      padding-top: 30px; }
    footer .social {
      margin-left: 100px;
      padding-top: 30px; } }

@media only screen and (max-width: 710px) {
  header {
    padding-top: 0; }
    header .logo-wr .logo p {
      font-size: 25px; }
    header .logo-wr .green-cr {
      width: 15px;
      height: 15px;
      margin-right: 0;
      top: 2px;
      left: -1px; }
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    section article .featured-post-imgg {
      margin: 0; }
    section aside {
      margin-left: 0; }
      section aside .a {
        margin: 0 auto; } }

@media only screen and (max-width: 480px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    padding: 20px 10px; }
  .banner-imgg {
    margin-top: 30px;
    min-height: 140px;
    min-width: 250px; }
  section article {
    max-width: auto;
    min-width: auto; }
    section article .featured-post {
      width: 270px; }
      section article .featured-post p {
        margin: 0;
        padding: 0; }
      section article .featured-post p:nth-child(2) {
        padding: 0; }
      section article .featured-post-imgg {
        min-width: auto;
        height: 80px; }
      section article .featured-post .btns {
        right: 30px; }
    section article .posts {
      max-width: 270px; }
      section article .posts .post {
        width: 260px; }
  section aside {
    margin-left: 0; }
    section aside .add2 .a {
      width: 266px;
      height: 239px; }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto; }
    footer p {
      padding-top: 30px; }
    footer .social {
      margin: 0;
      padding: 0;
      margin-top: 15px;
      padding-bottom: 20px; } }
